<html>

<head>
  <meta charset="utf-8" />
  <title>Nemesis</title>
  <link rel="stylesheet" href="css/angular-material.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="nemesisApp" ng-controller="mainController" ng-init="init()">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <img ng-show="user" alt="Menu" width="20px" style="margin-right:10px;cursor:pointer" ng-src="img/menu.svg" class="md-avatar" ng-click="toggleLeft()">
      <h2 md-truncate flex ng-click="toggleLeft()">Nemesis Shop</h2>
      <div ng-show="email" class="md-toolbar-tools" style="width: 30%" layout-align="end center">
        <div style="margin-right:25px">{{email}}</div>
        <md-menu md-offset="60">
          <img alt="Menu" width="50px" ng-src="img/user.svg" class="md-avatar photo" ng-click="openMenu($mdOpenMenu, $event)">
          <md-menu-content width="2">
            <md-menu-item>
              <md-button class="md-primary">Mudar Senha</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="md-primary" onclick="angular.element(this).scope().logout()">Sair</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </md-toolbar>
  <md-card class="principal-card">
    <md-toolbar class="md-hue-1">
      <div class="md-toolbar-tools">
        <h4 md-truncate flex>{{currentMenu.name}}</h4>
      </div>
    </md-toolbar>
    <div ng-view=""></div>
  </md-card>
  <footer>
    <small>Nemesis Shop</small>
  </footer>

  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="2" style="width:200px">

    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>

    <md-list layout-margin="" style="max-height: 300px">
      <md-list-item ng-repeat="u in menus" ng-click="changeLocation(u, $event)" class="noright">
        {{ u.name }}
      </md-list-item>
    </md-list>

  </md-sidenav>

  <script src="js/angular.js"></script>
  <script src="js/angular-animate.js"></script>
  <script src="js/angular-aria.js"></script>

  <script src="js/angular-material.js"></script>
  <script src="js/angular-route.js"></script>

  <script src="App/modules/app.js"></script>

  <script src="App/controllers/userController.js"></script>
  <script src="App/controllers/loginController.js"></script>
  <script src="App/controllers/mainController.js"></script>
  <script src="App/controllers/categoryController.js"></script>
</body>

</html>